.guy-container {
    border: 4px solid rgb(69, 160, 183);
    border-radius: 20%;
    position: relative;

   
}
.start-btn {
    margin-top: 20px;
}

.guy-breath {
    font-size: 36px;
    position: absolute;
    top: 165px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    animation: '';
}

.duration-btns {
    margin-top: 20px;
}



@keyframes fade {
    0%, 100% { opacity: 0 }
    33% { opacity: 1 }
  }