.guy-container {
    border: 14px solid rgb(213, 145, 62);
    padding: 0;
    margin: 0;
    padding-bottom: -10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.691);

   
}
.start-btn {
    margin-top: 20px;
}

.guy-breath {
    font-size: 36px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    animation: '';
}



.countdown-guy {
    font-size: 36px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 1;
    color: black;
    animation: '';
    display: none;

}

.duration-btns {
    margin-top: 20px;
}


@keyframes fade {
    0%, 100% { opacity: 0 }
    33% { opacity: 1 }
  }


  @media only screen and (max-height: 950px) and ( max-width: 900px) {
    .guy-container {
        width: 58vw !important;
        height: 29vh !important;

 
    }

    .guy-breath {
        font-size: 28px;
        position: absolute;
        top:  10%;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: '';
    }
    
    
    
    .countdown-guy {
        font-size: 28px;
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 1;
        color: black;
        animation: '';
        display: none;
    
    }
    
  }

  /* For IOS Devices */
  @media only screen and (max-height: 740px) and (max-width: 450px) {
    .guy-container {
        width: 48vw !important;
        height: 30vh !important;

 
    }

    .guy-breath {
        font-size: 28px;
        position: absolute;
        top:  10%;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: '';
    }
    
    
    
    .countdown-guy {
        font-size: 28px;
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 1;
        color: black;
        animation: '';
        display: none;
    
    }
    
  }



  /* @media only screen 
  and (device-width: 390px) 
  and (device-height: 844px) 
  and (-webkit-device-pixel-ratio: 3) { 
    .guy-container {
        width: 65vw !important;
        height: 33vh !important;

 
    }

    .guy-breath {
        font-size: 28px;
        position: absolute;
        top:  10%;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: '';
    }
    
    
    
    .countdown-guy {
        font-size: 28px;
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 1;
        color: black;
        animation: '';
        display: none;
    
    }



  } */