.guy-container {
    border: 10px solid rgb(213, 145, 62);
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: -10px;

   
}
.start-btn {
    margin-top: 20px;
}

.guy-breath {
    font-size: 36px;
    position: absolute;
    top: 165px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    animation: '';
}

.duration-btns {
    margin-top: 20px;
}



@keyframes fade {
    0%, 100% { opacity: 0 }
    33% { opacity: 1 }
  }