.circle-breath {
    font-size: 28px;
    position: absolute;
    top: 33.3%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    animation: '';

}

.countdown-circle {
    font-size: 28px;
    position: absolute;
    top: 33.3%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 1;
    display: none;

}

.circle-container {



   
}
.start-btn {
    margin-top: 20px;
}


@keyframes fade {
    0%, 100% { opacity: 0 }
    33% { opacity: 1 }
  }

  @media only screen and (max-width: 900px) {
    .circle-container {
        width: 300px !important;
        height: auto !important;
    }

    .circle-breath {
        font-size: 26px;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: '';
    
    }
    
    .countdown-circle {
        font-size: 26px;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 1;
        display: none;
    
    }

    
    
  }