.details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.details-title {
    margin-bottom: 10px;
    font-family: 'DM Sans';
}


.details-box {
    background-color: #ebbe9b91;
    background-image: linear-gradient(315deg, #ddb99e95 0%, #decbbb86 54%);
    width: 75%;
    height: auto;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.381);
    font-family: 'DM Sans';
}

.tips-header {
    margin: 0px;
}

h1 {
    font-size: 24px;
}


@media only screen and (max-width: 900px) {
    .details-title {
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'DM Sans';
    }
    
  }