.fish-container {
    border: 8px solid rgb(69, 160, 183);
    border-radius: 20%;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.594);

   
}
.start-btn {
    margin-top: 20px;
}

.fish-breath {
    font-size: 36px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    animation: '';
}

.duration-btns {
    margin-top: 20px;
}



@keyframes fade {
    0%, 100% { opacity: 0 }
    33% { opacity: 1 }
  }

  .countdown-fish {
    font-size: 36px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 1;
    color: black;
    animation: '';
    display: none;

  }

  @media only screen and (max-width: 900px) {
    .fish-container {
        width: auto !important;
        height: 40vh !important;
    }

    .fish-breath {
        font-size: 28px;
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: '';
    }
    
    
    
    .countdown-fish {
        font-size: 28px;
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 1;
        color: black;
        animation: '';
        display: none;
    
    }
  }