.heart-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.heart-box > .shape {
  width: auto;
  height: 57px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 115px;
  text-align: center;
  animation: "";
  filter: '';
  
}
.heart-box > .shape-glow {
  width: 58px;
  height: 58px;
  background-color: rgba(204, 151, 53, 0.292);
  box-shadow: 0px 0px 20px rgba(255, 166, 0, 0.578);
  border-radius: 50%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 115px;
  text-align: center;
  animation: "";
  filter: blur(5px);
  
}

.heart-box > .heart-background {
  max-width: 400px;
  top: 65px;
  z-index: 0;
}

.control-btns > .play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 40px;
    height: 40px;
    background-color: rgb(83, 192, 136);
    border-radius: 100%;
    margin: 20px;
    font-family: 'Rubik';
    font-size: 18px;
}

.play-btn:hover {
    opacity: 0.85;
    cursor: pointer;

}



.breath-text {
  font-size: 40px;
  color: black;
  align-self: center;
  font-family: "Rubik";
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }

  30% {
    /* transform: scale(0.8); */
    transform: scale(1.25);
  }

  50% {
    transform: scale(1.5);
  }

  70% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade {
    0%, 100% { opacity: 0 }
    33% { opacity: 1 }
  }

  @keyframes glowing {
    0% {
        box-shadow: 0px 0px 40px rgba(224, 169, 68, 0.75);
  
    }
    50% {
        box-shadow: 0px 0px 400px rgba(255, 166, 0, 0.785);
  
    }
    100% {
        box-shadow: 0px 0px 4000px rgba(238, 179, 71, 0.7);
    
    }
  }