.med-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.med-div > .med-background {
    width: 375px;
    height: auto;
    border-radius: 10%;
    border: 10px solid rgb(116, 78, 124);
    justify-self: center;
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 24s ease infinite;
    -moz-animation: AnimationName 24s ease infinite;
    animation: 'AnimationName';
    }
    
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


.med-background > .med-container {
    border-radius: 10%;
    padding: 0;
    margin: 0;
    padding-bottom: -10px;
    box-shadow: 0px 0px 10px black;

}



.start-btn {
    margin-top: 20px;
    background: linear-gradient(180deg, #e1e6b551,#e2d1de60,#dec5c578,#bacad46c,#dbc4df7c,#f7f2f27b 85%);

}

.med-breath {
    font-size: 36px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    animation: '';
}

.duration-btns {
    margin-top: 20px;
}



@keyframes fade {
    0%, 100% { opacity: 0 }
    33% { opacity: 1 }
  }

  .countdown-med {
    font-size: 36px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 1;
    color: black;
    animation: '';
    display: none;

  }

  @media only screen and (max-width: 900px) {
    .med-background {
        width: auto !important;
        height: 40vh !important;
    }

    .med-breath {
        font-size: 32px;
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: '';
    }
    
    
    .countdown-med {
        font-size: 32px;
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 1;
        color: black;
        animation: '';
        display: none;
    
    }
  }


  /* background: linear-gradient(
    90deg,
    #76c3af,
    #eeabe0,
    #e38080,
    #93c9e8,
    #d793e3
  ); */