.sun-breath {
    font-size: 30px;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    animation: '';

}

.countdown-sun {
    font-size: 30px;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 1;
    display: none;

}

.sun-container {


   
}
.start-btn {
    margin-top: 20px;
}


@keyframes fade {
    0%, 100% { opacity: 0 }
    33% { opacity: 1 }
  }

  @media only screen and (max-width: 900px) {
    .sun-container {
        width: auto !important;
        height: 300px !important;
    }

    .sun-breath {
        font-size: 24px;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: '';
    
    }
    
    .countdown-sun {
        font-size: 24px;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 1;
        display: none;
    
    }
  }