.swing-container {
    width: auto;
    height: auto;
}

.swing-container > .swing-box {
    height: auto;
    width: auto;
    padding: 40px;
    padding-top: 10px;
    margin: 10px;
    padding-bottom: 0px;
    border: solid black 15px;
    
}
 /* .swing-box > .tree-limb {
    border-top: 30px solid rgb(104, 92, 92);
    background-color: blue;
    height: auto;
    width: auto;
    transform: skew(-7deg, -7deg);

} */

.swing {
    max-height: 350px;
    width: auto;
    animation: '';
    transform-origin: 50% top;
    transform: rotate(15deg);

    
}

.breath-text {
    font-size: 40px;
}

@keyframes swing {
    0%{
        transform: rotateZ(10deg);

    }
    50%{
        transform: rotateZ(-10deg);

    }
    100%{
        transform: rotateZ(10deg);

    }
}

@keyframes fade {
    0%, 100% { opacity: 0 }
    33% { opacity: 1 }
  }