.audio-player {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  height: auto;
  width: 425px;
  border: 4px solid black;
  align-items: center;
  border-radius: 10px;
}

.audio-player > .audio-header {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}

.audio-player > .sound-wave {
  width: auto;
  height: auto;
  border: 1px solid black;
  background-color: #c3cbdc;
  background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
  
  padding-left: 15px;
  padding-right: 15px;
}

.play-btn {
  max-height: 30px;
  justify-self: center;
}

.media-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9fa4c4;
  background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
  height: 100%;
  width: auto;
}
