@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=DM+Sans:wght@500&family=Dosis&family=Lato:wght@300&family=Mukta&family=Mulish:wght@600&family=Poppins:wght@300&family=Prompt&family=Rubik:wght@400;600&family=Schibsted+Grotesk:wght@600&display=swap');


.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1;
  font-family: 'Mullish', sans-serif;
  font-style: normal;
  font-weight: 400;

  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.page-title {
  height: 100%;
  padding: 0;
  margin:0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.titles > .main-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  font-size: 42px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-shadow: rgb(78, 77, 73) 0px 1px 30px;

}

.titles {
  margin-bottom: 0px;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.title-eye {
  max-height: 35px;
  padding: 0;
  margin: 0;

}

.sub-title {
  margin: 0;
  font-family: 'DM Sans';
}

.welcome-text {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  font-family: 'DM Sans';

}

.welcome-text > p {
  margin: 5px;
}

.App > .page-title {
  grid-column-start: 2;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}



.choice-container {
  grid-column-start: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  transition: visibility 2s 0s, opacity 1s linear;
}

.animation-container {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 15px;
}
.details-container {
  grid-column-start: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-bottom: 35px;
  transition: visibility 2s 0s, opacity 1s linear;
}


@media only screen and (max-width: 900px) {
  .App {
    text-align: center;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;


  }

  .App > .page-title {
    grid-row-start: 1;
    height: auto;
    width: 100vw;
    text-align: center;
    overflow-x: hidden;
    padding: 0;
    transition: visibility 2s 0s, opacity 1s linear;
  }


  .page-title > .titles {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 25px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.691);
    background-color: #94c997;
    background-image: linear-gradient(315deg, #94c997 0%, #daacec 74%);
    
  }

  .titles > .main-title {
    font-size: 3.5vh;
    font-family: 'Mullish', sans-serif;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;

  }


  .page-title > .sub-title {
    font-size: 16px;

  }


  .title-eye {
    max-height: 30px;
    padding: 0;
    margin: 0;
    
  
  }

  .welcome-text {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .App > .animation-container {
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    margin-top: 0px;
  }

  .App > .choice-container {
    grid-column-start: 2;
    grid-row-start: 3;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-items: center;
    margin-bottom: 25px;
    overflow-x: hidden;
    transition: visibility 2s 0s, opacity 1s linear;
  }
  

  .App > .details-container {
    grid-column-start: 2;
    grid-row-start: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
    height: 100%;
    overflow-x: hidden;
    transition: visibility 2s 0s, opacity 1s linear;
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }

  
  
}