@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Dosis&family=Lato:wght@300&family=Mukta&family=Poppins:wght@300&family=Prompt&family=Rubik&family=Schibsted+Grotesk:wght@600&family=Shadows+Into+Light&display=swap');


.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-title {
  height: 100%;
  padding: 0;
  margin:0;
  justify-content: center;
  align-items: center;
}

.page-title > .main-title {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 15px;

}

.title-eye {
  max-height: 40px;
  padding: 0;
  margin: 0;

}

.sub-title {
  margin: 0;
  margin-bottom: 15px;
}


.App > .page-title {
  grid-column-start: 2;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.choice-container {
  grid-column-start: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  transition: visibility 2s 0s, opacity 1s linear;
}

.animation-container {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.details-container {
  grid-column-start: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: visibility 2s 0s, opacity 1s linear;
}
