.choice-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.choice-div > .anchor-text {
    margin-top: 0px;
    margin-bottom: 10px;
}


.choice-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
    height: auto;
    padding: 25px;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    background-color:  rgb(158, 89, 89, .1);
    border-radius: 5%;
    gap: 0px;
    margin: 0px;
}


.choice-holder > .choice {
    max-height: 120px;
    background-color: rgb(79, 83, 79);
    padding: 0px;
    margin: 5px;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.choice > .choice-img {
    max-height: 120px;
    border-radius: 15%;
    transition: .5s ease;
    backface-visibility: hidden;
  
}

.choice-img:hover {
    opacity: 0.3;

}
.active {
    border: 4px solid rgba(128, 112, 146, .5);
    border-radius: 15%
  
}

.anchor-text {
    font-family: 'DM Sans';
}

@media only screen and (max-width: 900px) {
.choice-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 0px;
        margin-top: 20px;
        width: 100%;
        height: auto;
        background-color: #ffffff;
        background-image: linear-gradient(315deg, #ffffff9f 0%, #d7e1ec93 74%);
        
}

.choice-holder {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    height: auto;
    width: 100vw;
    margin-top: 25px;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3); 
    background-color:  rgb(158, 89, 89, .1);
    gap: 0px;
    margin: 0px;
    padding: 10px;
}

.choice-holder > .choice {
    max-height: 100px;
    background-color: rgb(79, 83, 79);
    padding: 0px;
    margin: 5px;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.choice > .choice-img {
    max-height: 100px;
    border-radius: 15%;
    transition: .5s ease;
    backface-visibility: hidden;
  
}


::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
    
  }